@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: KarlaBold;
  src: url("assets/font-style/Karla/Karla-Bold.ttf") format("truetype");
}

@font-face {
  font-family: LatoRegular;
  src: url("assets/font-style/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: LatoBold;
  src: url("assets/font-style/Lato/Lato-Bold.ttf") format("truetype");
}

.font-bold {
  font-family: LatoBold, serif;
}

.title {
  font-family: KarlaBold, serif;
}

html {
  font-family: LatoRegular, serif;
}

input[type="text"], input[type="email"], input[type="password"] {
  @apply border border-gray-500 rounded-md h-10 px-4;
}

.btn {
  @apply text-white rounded-md px-4 py-2 space-x-2;
}

.btn-primary {
  @apply btn bg-teal-500 !important;
}

.btn-skeleton-primary {
  @apply btn bg-transparent text-teal-500 border border-teal-500 !important;
}

.center-component {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}